.ui.page.grid
	.four.wide.column
		.list-content
			.left-menu
				h3.ui.header= local.articles
				.ui.link.list
					each item in menu.articles
						if item.current
							span.item.active= item.title
						else if item.active
							a.item.active(href=item.href)= item.title
						else
							a.item(href=item.href)= item.title

	.one.wide.column
	.eleven.wide.column
		main.page-content
			.list-content
				.page-header
					h2.ui.header= local[header]
					.ui.section.divider
				.ui.items
					for item in elementsList
						.item
							each img in item.images
								if img.isMain
									.image
										img(alt=img.alt, src=staticUrl(img.path))
							.content
								if item.urlpath
									a.ui.header.small(href=item.urlpath)= item.header
								else
									span.ui.header.small= item.header

								//- if item.pubDate
								//- 	.date= item.pubDate
								if item.previewText
									.description!= item.previewText

					if type == 'news' && elementsList.length > 10
						a(href="#") Показать более ранние новости

					if type == 'clients' && elementsList.length > 10
						a(href="#") Показать больше клиентов
