if type != 'contacts'
	.ui.page.grid
		.four.wide.column
			.list-content
				.left-menu
					h3.ui.header= local.articles
					.ui.link.list
						each item in menu.articles
							if item.current
								span.item.active= item.title
							else if item.active
								a.item.active(href=item.href)= item.title
							else
								a.item(href=item.href)= item.title
		
		.one.wide.column
		.eleven.wide.column
			.list-content
				.page-header
					h2.ui.header= header
			main.page-content
				.inner-page-content
					.ui.piled.segment
						!= content
						
						if (type == 'news' || type == 'clients') && images && images.length > 0
							.photos-container
								.ui.small.images
									for item in images
										a.gallery(href=item.path)
											.image
												img(alt=item.alt, src=staticUrl(item.path))
			
			if type != 'news'
				include inc/news-block
else
	h2.ui.header= header
	#map
