a.right-menu-opener(href="#fixed-main-menu", title=local.showMenu)
	i.large.circular.inverted.white.list.layout.icon
.ui.fixed.inverted.menu.large.js-fixed-main-menu#fixed-main-menu
	.inner-container
		.title.item
			if isMainPage
				span
					span= local.siteTitle
			else
				a(href="/")
					span= local.siteTitle

		mixin childItem(item)
			i.dropdown.icon
			.menu
				for child in item.children
					if child.current
						span.item.active= child.title
					else if child.active
						a.item.active(href=child.href)= child.title
					else
						a.item(href=child.href)= child.title

		for item in menu.main
			if item.children
				if item.current || item.active
					.item.ui.dropdown.iactive
						= item.title
						+childItem(item)
				else
					.item.ui.dropdown
						= item.title
						+childItem(item)
			else
				if item.current || (isMainPage && item.currentOnMain)
					span.item.active= item.title
				else if item.active
					a.item.active(href=item.href)= item.title
				else
					a.item(href=item.href)= item.title

		a.item.right.js-popup-button(
			href="#call-me-form"
			data-form="call-me-form"
		)
			i.call.icon.flipped
			span= local.orderCall
		a.item.right.js-popup-button(
			href="#write-to-us-form"
			data-form="write-to-us-form"
		)
			i.mail.icon
			span= local.writeToUs

		.phone.item.right
			if contacts.phones
				a(href=phoneLink(contacts.phones['main-phone']))= contacts.phones['main-phone']

