.ui.fixed.inverted.menu.large.js-fixed-main-menu
	.inner-container
		.title.item
			mixin title
				img(alt="Вентилятор", src=staticUrl('images/fan.svg'))
				=' '
				span= local.siteTitle
			if isMainPage
				span
					+title
			else
				a(href="/")
					+title

		mixin childItem(item)
			i.dropdown.icon
			.menu
				for child in item.children
					if child.current
						span.item= child.title
					else if child.active
						a.item.active(href=child.href)= child.title
					else
						a.item(href=child.href)= child.title

		for item in menu.main
			if item.children
				if item.current || item.active
					.item.ui.dropdown.item.active
						= item.title
						+childItem(item)
				else
					.item.ui.dropdown.item
						= item.title
						+childItem(item)
			else
				if item.current || (isMainPage && item.currentOnMain)
					span.item.active= item.title
				else if item.active
					a.item.active(href=item.href)= item.title
				else
					a.item(href=item.href)= item.title

		.phone.item.right
			if contacts.phones
				a(href=phoneLink(contacts.phones['main-phone']))= contacts.phones['main-phone']
