- var bodyClasses = []
if isMainPage
	- bodyClasses.push('index-page')
if type == 'contacts'
	- bodyClasses.push('contacts-page')
doctype html
html(lang=lang)
	head
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(charset=charset)
		title= seo.title
		meta(name="keywords", content=seo.keywords)
		meta(name="description", content=seo.description)
		link(href=staticUrl('favicon.ico'), rel="shortcut icon")

		link(
			href=staticUrl("semantic/semantic.min.css")
			rel="stylesheet"
			type="text/css")
		link(
			href=staticUrl("client-build.css")
			rel="stylesheet"
			type="text/css")
		link(
			href=staticUrl("colorbox.css")
			rel="stylesheet"
			type="text/css")
		if type == 'contacts'
			script(
				src="http://api-maps.yandex.ru/2.0-stable/?load=package.full&lang=ru-RU"
				type="text/javascript"
			)
		script(src=staticUrl("client-build.js"))

	body(class=bodyClasses)
		.top-part#up
			header
				include header
			block content
		footer.ui.inverted.black.vertical.segment
			include footer
		include forms
