- var bodyClasses = []
if isMainPage
	- bodyClasses.push('index-page')
doctype html
html(lang=lang)
	head
		meta(charset=charset)
		title= seo.title
		meta(name="keywords", content=seo.keywords)
		meta(name="description", content=seo.description)

		link(
			href=staticUrl("/semantic/semantic.min.css")
			rel="stylesheet"
			type="text/css")
		link(
			href=staticUrl("/client-build.css")
			rel="stylesheet"
			type="text/css")
		script(src=staticUrl("/client-build.js"))
	body(class=bodyClasses)
		.top-part#up
			header
				include header
			block content
		footer.ui.inverted.black.vertical.segment
			include footer
		include forms
