if email.type == 'calls'
	h3 Заказ звонка от посетителя #{email.sender.name}
else if email.type == 'messages'
	h3 Сообщение от посетителя #{email.sender.name}

each item in email.text
	p= item

h4 Отправитель указал(-а) контакты:
if email.sender.email
	p Email: #{email.sender.email}
if email.sender.phone
	p Телефон: #{email.sender.phone}
