if email.type == 'calls'
	h3 Заказ звонка от посетителя #{email.sender.name}
else if email.type == 'messages'
	h3 Сообщение от посетителя #{email.sender.name}
p.
	#{email.text}

h4 Отправитель указал(-а) контакты:
span Email: #{email.sender.email}
br
span Телефон: #{email.sender.phone}

