extends adm-layout
block content
	.inner-container
		if data.length > 0
			.ui.divided.items
				h2 #{pageTrait.local[type]}
				.item.header-item
					a.header-item.ui.button.inverted.black(href="/admin/data/#{type}/add")
						|  Добавить
				for item in data
					.item.js-list-item
						.ui.tiny.image
							a(href="/admin/data/#{item.type}/edit/#{item._id}")
								i.ui.icon.write.circular.inverted
							a.js-remove(href="#", data-id="#{item._id}", data-type="#{type}")
								i.ui.icon.remove.circular.inverted
						.middle.aligned.content
							.header
								| #{item.humanReadable}
							.meta
								span.cinema #{item.value}
		else
			h2 #{pageTrait.local[type]}
			.ui.section.divider
			.ui.icon.message
				i.inbox.icon
				.content
					.header Ничего не найдено
					p
						a.ui.button.green(href="/admin/data/#{type}/add") Добавить

		if type == 'contacts'
			br
			br
			.ui.icon.message
				h3 Сео-данные раздела

				form.ui.form.js-seo-list-form(data-type="#{type}")
					h4.ui.dividing.header Ключевые слова раздела (Keywords)
					.field
						input.keywords(type="text", name="keywords" placeholder="Keywords", value="#{listData.seo.keywords}")

					h4.ui.dividing.header Описание раздела (Description)
					.field
						input.description(type="text", name="description" placeholder="Description", value="#{listData.seo.description}")

					h4.ui.dividing.header Заголовок разлела (Title)
					.two.fields
						.field
							input.title(type="text", name="title" placeholder="Seo-title", value="#{listData.seo.title}")

					h4.ui.dividing.header
					.field
						.ui.button.green.js-seo-list-data Обновить

	include remove-element-modal
	include alert-popup
