extends adm-layout
block content
	.inner-container
		if data.length > 0
			.ui.divided.items
				h2 #{pageTrait.local[type]}
				.item.header-item
					a.header-item.ui.button.inverted.black(href="/admin/data/#{type}/add")
						|  Добавить
				for item in data
					.item.js-list-item
						.ui.tiny.image
							a(href="/admin/data/#{item.type}/edit/#{item._id}")
								i.ui.icon.write.circular.inverted
							a.js-remove(href="#", data-id="#{item._id}", data-type="#{type}")
								i.ui.icon.remove.circular.inverted
						.middle.aligned.content
							.header
								| #{item.humanReadable}
							.meta
								span.cinema #{item.value}
		else
			h2 #{pageTrait.local[type]}
			.ui.section.divider
			.ui.icon.message
				i.inbox.icon
				.content
					.header Ничего не найдено
					p
						a.ui.button.green(href="/admin/data/#{type}/add") Добавить
	include remove-element-modal
