h2 Добавить элемент #{pageTrait.local[type]}
.ui.section.divider
form.ui.form.js-edit-data-form(data-type="#{type}")

	if type != 'contacts'
		.field
			.ui.corner.labeled.input
				input.subtype(type="text", name="subtype" placeholder="Категория", value="#{diffdata.subtype}")
				.ui.corner.label
					i.asterisk.icon
	else
		label Категория контактов
		.field
			select(name="subtype").ui.dropdown.subtype
				each val, key in contactsTypes
					if diffdata.subtype == key
						option(value="#{key}", selected) #{val}
					else
						option(value="#{key}") #{val}
	.field
		.ui.corner.labeled.input
			input.human-readable(type="text", name="human-readable" placeholder="Название", value="#{diffdata.humanReadable}")
			.ui.corner.label
				i.asterisk.icon
	.field
		.ui.corner.labeled.input
			input.name(type="text", name="name" placeholder="Переменная шаблона", value="#{diffdata.name}")
			.ui.corner.label
				i.asterisk.icon
	.field
		.ui.corner.labeled.input
			textarea.value(type="text", name="value" placeholder="Значение") #{diffdata.value}
			.ui.corner.label
				i.asterisk.icon

	.field
		.ui.corner.labeled.input
			input.sort(type="text", name="sort" placeholder="Порядок", value="#{diffdata.sort}")
			.ui.corner.label
				i.asterisk.icon

	input.ui.button.green.js-add-data(type="submit", value="Добавить")
	a.ui.button(href="/admin/data/contacts/list") Отменить



