if type != 'main-page'
	h2 Редактировать страницу раздела #{pageTrait.local[type]}
	.ui.section.divider
form.ui.form.js-form(data-type="#{type}")
	//- if type != 'main-page'
	//- 	include show-page-checkbox
	if type == 'main-page'
		h4.ui.dividing.header Главное фото
		.ui.segment
			if data.mainPhoto
				- var src = data.mainPhoto
			else
				- var src = 'images/wireframe.png'
			p
				img.main-photo-area(src="/#{src}")
			p
				.ui.button.green.js-change-main-image
					i.icon.edit
					if data.mainPhoto
						| Изменить
					else
						| Добавить
				input.js-main-image-input(type='file', multiple="false")
				if data.mainPhoto
					-var val = data.mainPhoto
				else
					- var val = ''
				input.main-img(type='hidden', value="#{val}")

	h4.ui.dividing.header Заголовок страницы
	.field
		.ui.input
			input.header(type="text", name="header" placeholder="Заголовок страницы", value="#{data.header}")
	if type != 'main-page'
		h4.ui.dividing.header Символьный код
		.two.fields
			.field
				.ui.icon.input
					input.symbol-code(type="text", name="urlpath" placeholder="Символьный код",
						value="#{data.symbolCode}", disabled, data-transenabled="#{data.metadata.transEnabled}")
					i.lock.icon.js-lock-icon
			.field
				.ui.button.js-set.js-symbol-code Задать вручную
				.ui.button.js-unset.js-symbol-code Задавать автоматически

	if type == 'news' || type == 'clients'
		h4.ui.dividing.header Фотографии
		.two.fields
			.field
				.js-photo-upload.ui.button Загрузить фотографии
				input.js-photo-upload-input(type="file", name="images", multiple="true")

		.uploaded-images
			label Загруженные изображения
			for elem in data.images
				include uploaded-image

	if type == 'news'
		h4.ui.dividing.header Дата публикации
		.two.fields
			.field
				input.pub-date#pub-date(name="pub-date", type="text", value="#{data.pubDate}")

	if type == 'news' || type == 'clients'
		h4.ui.dividing.header Превью
			.field
				textarea.preview-text(name="preview", id="preview", rows="10", cols="80", data-content="#{data.previewText}")


	h4.ui.dividing.header Контент страницы
	.field
		textarea.editor(name="editor", id="editor", rows="10", cols="80", data-content="#{data.content}")


	h4.ui.dividing.header Файлы для контента
	.two.fields
		.field
			.js-files.ui.button Загрузить файлы
			input.js-files-input(type="file", name="files", multiple="true")


	.uploaded-files
		label Загруженные файлы
		for elem in data.files
			.ui.segment.js-file-elem(data-filename='#{elem}') #{elem}
				i.ui.icon.remove.js-file-ico


	h4.ui.dividing.header Ключевые слова (Keywords)
	.field
		input.keywords(type="text", name="keywords" placeholder="Keywords", value="#{data.seo.keywords}")

	h4.ui.dividing.header Описание (Description)
	.field
		input.description(type="text", name="description" placeholder="Description", value="#{data.seo.description}")

	h4.ui.dividing.header Заголовок (Title)
	.field
		.ui.corner.labeled.input
			input.title(type="text", name="title" placeholder="Seo-title", value="#{data.seo.title}")
			.ui.corner.label
				i.asterisk.icon

	h4.ui.dividing.header
	.ui.button.green.js-update(data-id="#{data._id}") Обновить
	.ui.button.js-cancel Отменить



