form.ui.form.js-form(data-type="#{type}")
	if type != 'main-page'
		.inline.field
			.ui.checkbox
				input.is-active(type="checkbox", value="on")
				label Показывать страницу

	if type == 'main-page'
		h4.ui.dividing.header Главное фото
		.ui.segment
			p
				img.main-photo-area(src="/#{data.mainPhoto}")
			p
				.ui.button.green.js-change-main-image
					i.icon.edit
					| Изменить
				input.js-main-image-input(type='file', multiple="false")
				input.main-img(type='hidden', value="#{data.mainPhoto}")

	h4.ui.dividing.header Заголовок страницы
	.two.fields
		.field
			.ui.input
				input.header(type="text", name="header" placeholder="Заголовок страницы", value="#{data.header}")
	if type != 'main-page'
		h4.ui.dividing.header Символьный код
		.two.fields
			.field
				input.symbol-code(type="text", name="urlpath" placeholder="Символьный код", value="#{data.symbolCode}", disabled)
			.field
				.ui.button.js-set-symbol-code Задать вручную


	if type == 'news' || type == 'projects'
		h4.ui.dividing.header Фотографии
		.two.fields
			.field
				.js-photo-upload.ui.button Загрузить фотографии
				input.js-photo-upload-input(type="file", name="images", multiple="true")

		.uploaded-images
			label Загруженные изображения
			for elem in data.images
				include uploaded-image

	if type == 'news'
		h4.ui.dividing.header Дата публикации
		.two.fields
			.field
				input.pub-date(type="date", name="pub-date" placeholder="Дата публикации", value="#{data.pubDate}")

	if type == 'news' || type == 'projects'
		h4.ui.dividing.header Превью
			.field
				textarea.preview-text(name="preview", id="preview", rows="10", cols="80", data-content="#{data.previewText}")


	h4.ui.dividing.header Контент страницы
	.field
		textarea.editor(name="editor", id="editor", rows="10", cols="80", data-content="#{data.content}")


	h4.ui.dividing.header Файлы для контента
	.two.fields
		.field
			.js-files.ui.button Загрузить файлы
			input.js-files-input(type="file", name="files", multiple="true")


	.uploaded-files
		label Загруженные файлы
		for elem in data.files
			.ui.segment.js-file-elem(data-filename='#{elem}') #{elem}
				i.ui.icon.remove.js-file-ico


	h4.ui.dividing.header Ключевые слова (Keywords)
	.two.fields
		.field
			input.keywords(type="text", name="keywords" placeholder="Keywords", value="#{data.seo.keywords}")

	h4.ui.dividing.header Описание (Description)
	.field
		input.description(type="text", name="description" placeholder="Description", value="#{data.seo.description}")

	h4.ui.dividing.header Заголовок (Title)
	.two.fields
		.field
			.ui.corner.labeled.input
				input.title(type="text", name="title" placeholder="Seo-title", value="#{data.seo.title}")
				.ui.corner.label
					i.asterisk.icon

	h4.ui.dividing.header
	.ui.button.green.js-update(data-id="#{data._id}") Обновить
	.ui.button.js-cancel Отменить



