extends adm-layout
block content
	.inner-container
		if emails.length > 0
			.ui.divided.items
				.item.header-item
					.ui.button.inverted.black.js-mail-send
						|  Послать тестовое письмо
				for item in emails
					.item.js-list-item
						.ui.tiny.image
							a(href="/admin/#{item.type}/view/#{item._id}")
								i.ui.icon.eye.circular.inverted
							a.js-remove(href="#", data-id="#{item._id}", data-type="#{type}")
								i.ui.icon.remove.circular.inverted
						.middle.aligned.content
							.header #{item.username}
		else
			.ui.icon.message
				i.inbox.icon
				.content
					.header Ничего не найдено
					p
						.ui.button.green.js-mail-send
							|  Послать тестовое письмо
