extends adm-layout
block content
	include alert-popup
	.inner-container
		if emails.length > 0
			.ui.divided.items
				.item.header-item
					a.header-item.ui.button.inverted.black.js-mail-send(data-type="#{type}")
						|  Послать тестовое письмо
				for item in emails
					.item.js-list-item
						.ui.tiny.image
							a.js-view(href="#")
								i.ui.icon.eye.circular.inverted
							a.js-remove(href="#", data-id="#{item._id}", data-type="#{type}")
								i.ui.icon.remove.circular.inverted
						.middle.aligned.content
							.header  #{item.sendDate}
							.meta
								| #{item.text.slice(0, 50)}...
		else
			.ui.icon.message
				i.inbox.icon
				.content
					.header Ничего не найдено
					p
						.ui.button.green.js-mail-send(data-type="#{type}")
							|  Послать тестовое письмо
	include remove-element-modal
