.ui.page.grid
	.four.wide.column
		.left-menu
			h3.ui.header= local.articles
			.ui.link.list
				each item in menu.articles
					if item.current
						span.item.active= item.title
					else if item.active
						a.item.active(href=item.href)= item.title
					else
						a.item(href=item.href)= item.title
	
	.one.wide.column
	.eleven.wide.column
		.page-header
			h2.ui.header= header
		main.page-content
			.ui.piled.segment
				!= content
		
		include ../inc/news-block
