.ui.page.grid
	.four.wide.column
		h3.ui.header.large= local.articles
		.left-menu.ui.sticky
			.ui.piled.segment
				.ui.link.list
					each item in menu.articles
						if item.current
							span.item.active= item.title
						else if item.active
							a.item.active(href=item.href)= item.title
						else
							a.item(href=item.href)= item.title

	.one.wide.column
	.eleven.wide.column
		.page-header
			h2.ui.header= header
			.ui.section.divider
		.page-content
			!= content

.ui.page.grid
	.four.wide.column
	.one.wide.column
	.eleven.wide.column
		.ui.horizontal.divider
		h3 Новости
		for i in [1,2,3]
			.news-content
				.ui.items
					.item
						.image
							img(src="images/main.jpg", alt="")
						.content
							a.header 12 Years a Slave
							.meta
								span.cinema 12 12 12
							.description
								| Спектр предлагаемого климатического оборудования очень широк! В нашем прайс-листе Вы найдете весь спектр кондиционеров - от бытовых кондиционеров (оконного типа, мобильных, настенных сплит-систем), кассетных кондиционеров, канальных, консольных систем, до систем центрального кондиционирования и вентиляции, систем чиллер-фанкойл, VRV- и VRF-систем. Мы являемся официальными дилерами представленных марок оборудования, работая с ведущими российскими поставщиками и представительствами компаний.
